<p></p>
<p>Given a collection of intervals, merge all overlapping intervals.</p>
<p> For example,<br> Given <code>[1,3],[2,6],[8,10],[15,18]</code>,<br> return
    <code>[1,6],[8,10],[15,18]</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/sort/">Sort</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/insert-interval/">
            (H) Insert
            Interval</a> <a class = "btn btn-xs btn-primary" href = "/problems/meeting-rooms/">
            (E) Meeting
            Rooms</a> <a class = "btn btn-xs btn-primary" href = "/problems/meeting-rooms-ii/">
            (M) Meeting Rooms II</a> </span>
</div>