<p></p>
<p>Given a digit string, return all possible letter combinations that the
    number could represent.
</p>
<p> A mapping of digit to letters (just like on
    the telephone buttons) is given below.
</p>
<p>
    <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Telephone-keypad2.svg/200px-Telephone-keypad2.svg.png">
</p>
<pre>
    <b>Input:</b>Digit string "23"
    <b>Output:</b> ["ad", "ae", "af", "bd", "be", "bf", "cd", "ce", "cf"].
</pre>
<p><b>Note:</b><br> Although the above answer is in lexicographical order,
    your answer could be in any order you want.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/backtracking/">Backtracking</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/generate-parentheses/">
            (M) Generate
            Parentheses</a> <a class = "btn btn-xs btn-primary" href = "/problems/combination-sum/">
            (M) Combination Sum</a>
    </span>
</div>