<p></p>
<p> Design and implement a data structure for Least Recently Used (LRU)
    cache. It should support the following
    operations: <code>get</code> and <code>set</code>.
</p>
<p>
    <code>get(key)</code> - Get the value (will always be positive) of the key
    if the key exists in the cache, otherwise
    return -1.<br> <code>set(key, value)</code> - Set or insert the value if the
    key is not already present. When the
    cache reached its capacity, it should invalidate the least recently used
    item before inserting a new item.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/design/">Design</a> </span>
</div>