<p></p>
<p>Given two sorted integer arrays <i>nums1</i> and <i>nums2</i>, merge
    <i>nums2</i> into <i>nums1</i> as one sorted
    array.
</p>
<p><b>Note:</b><br> You may assume that <i>nums1</i> has enough
    space (size that is greater or equal to <i>m</i> +
    <i>n</i>) to hold additional elements from <i>nums2</i>. The number of
    elements initialized in <i>nums1</i> and <i>nums2</i>
    are <i>m</i> and <i>n</i> respectively.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/merge-two-sorted-lists/">
            (E) Merge Two
            Sorted Lists</a> </span>
</div>