<p></p>
<p>Given a sorted array of integers, find the starting and ending
    position of a given target value.
</p>
<p>Your algorithm's runtime complexity
    must be in the order of <i>O</i>(log <i>n</i>).
</p>
<p>If the target is not
    found in the array, return <code>[-1, -1]</code>.
</p>
<p> For example,<br>
    Given <code>[5, 7, 7, 8, 8, 10]</code> and target value 8,<br> return <code>[3, 4]</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/binary-search/">Binary
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/first-bad-version/">
            (E) First Bad
            Version</a> </span>
</div>