<p></p>
<p> Given a string array <code>words</code>, find the maximum value of
    <code>length(word[i]) * length(word[j])</code>
    where the two words do not share common letters. You may assume that each
    word will contain only lower case letters.
    If no such two words exist, return 0.
</p>
<p><b>Example 1:</b><br></p>
<p>
    Given <code>["abcw", "baz", "foo", "bar", "xtfn", "abcdef"]</code><br>
    Return <code>16</code><br> The two words can
    be <code>"abcw", "xtfn"</code>.
</p>
<p><b>Example 2:</b><br></p>
<p> Given
    <code>["a", "ab", "abc", "d", "cd", "bcd", "abcd"]</code><br> Return
    <code>4</code><br> The two words can be
    <code>"ab", "cd"</code>.
</p>
<p><b>Example 3:</b><br></p>
<p> Given <code>["a", "aa", "aaa", "aaaa"]</code><br>
    Return <code>0</code><br> No such pair of words.
</p>
<p><b>Credits:</b><br>Special
    thanks to
    <a href = "https://leetcode.com/discuss/user/dietpepsi">@dietpepsi</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/bit-manipulation/">Bit
            Manipulation</a>
    </span>
</div>