<p></p>
<p> Given a sorted linked list, delete all duplicates such that each
    element appear only <i>once</i>.
</p>
<p> For example,<br> Given <code>1-&gt;1-&gt;2</code>,
    return <code>1-&gt;2</code>.<br> Given
    <code>1-&gt;1-&gt;2-&gt;3-&gt;3</code>,
    return <code>1-&gt;2-&gt;3</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> </span>
</div>