<p></p>
<p> Given two words <i>word1</i> and <i>word2</i>, find the minimum
    number of steps required to convert <i>word1</i> to
    <i>word2</i>. (each operation is counted as 1 step.)
</p>
<p> You have the
    following 3 operations permitted on a word:
</p>
<p> a) Insert a
    character<br> b) Delete a character<br> c) Replace a character<br></p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/dynamic-programming/">Dynamic
            Programming</a>
        <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/one-edit-distance/">
            (M) One Edit
            Distance</a> </span>
</div>