<p></p>
<p> Given <i>n</i> pairs of parentheses, write a function to generate all
    combinations of well-formed parentheses.
</p>
<p> For example, given <i>n</i>
    = 3, a solution set is:
</p>
<p><code>"((()))", "(()())", "(())()", "()(())", "()()()"</code>
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/backtracking/">Backtracking</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/letter-combinations-of-a-phone-number/">
            (M) Letter Combinations of a Phone
            Number</a> <a class = "btn btn-xs btn-primary" href = "/problems/valid-parentheses/">
            (E) Valid
            Parentheses</a> </span>
</div>