<p></p>
<p>Given two integers representing the numerator and denominator of a
    fraction, return the fraction in string
    format.
</p>
<p>If the fractional part is repeating, enclose the repeating
    part in parentheses.
</p>
<p> For example,</p>
<ul>
    <li>Given numerator = 1, denominator = 2, return "0.5".</li>
    <li>Given numerator = 2, denominator = 1, return "2".</li>
    <li>Given numerator = 2, denominator = 3, return "0.(6)".</li>
</ul>
<p></p>
<ol id = "hints">
    <li class = "hint">No scary math, just apply elementary math knowledge.
        Still remember how to perform a <i>long
            division</i>?
    </li>
    <li class = "hint">Try a long division on 4/9, the repeating part is
        obvious. Now try 4/333. Do you see a pattern?
    </li>
    <li class = "hint">Be wary of edge cases! List out as many test cases as you
        can think of and test your code
        thoroughly.
    </li>
</ol>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://oj.leetcode.com/discuss/user/Shangrila">@Shangrila</a>
    for
    adding this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/hash-table/">Hash
            Table</a> <a class = "btn btn-xs btn-primary" href = "/tag/math/">Math</a> </span>
</div>