<p></p>
<p>Given <i>n</i> non-negative integers <i>a<sub>1</sub></i>,
    <i>a<sub>2</sub></i>, ..., <i>a<sub>n</sub></i>, where
    each represents a point at coordinate (<i>i</i>, <i>a<sub>i</sub></i>).
    <i>n</i> vertical lines are drawn such that
    the two endpoints of line <i>i</i> is at (<i>i</i>, <i>a<sub>i</sub></i>)
    and (<i>i</i>, 0). Find two lines, which
    together with x-axis forms a container, such that the container contains the
    most water.
</p>
<p>Note: You may not slant the container.</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/trapping-rain-water/">
            (H) Trapping Rain
            Water</a> </span>
</div>