<p>
<p>
    Given an integer (signed 32 bits), write a function to check whether it is a power of 4.
</p>
<p><b>Example:</b><br>
    Given num = 16, return true.
    Given num = 5, return false.
</p>
<p>
    <b>Follow up</b>: Could you solve it without loops/recursion?
</p>
<p><b>Credits:</b><br/>Special thanks to <a href="https://leetcode.com/discuss/user/yukuairoy">@yukuairoy </a> for
    adding this problem and creating all test cases.</p></p>


<div>
    <div id="company_tags" class="btn btn-xs btn-warning">Show Company Tags</div>
    <span class="hidebutton">

        <a class="btn btn-xs btn-primary" href="/company/two-sigma/">Two Sigma</a>

    </span>
</div>


<div>
    <div id="tags" class="btn btn-xs btn-warning">Show Tags</div>
    <span class="hidebutton">

        <a class="btn btn-xs btn-primary" href="/tag/bit-manipulation/">Bit Manipulation</a>

    </span>
</div>


<div>
    <div id="similar" class="btn btn-xs btn-warning">Show Similar Problems</div>
    <span class="hidebutton">

        <a class="btn btn-xs btn-primary" href="/problems/power-of-two/"> (E) Power of Two</a>

        <a class="btn btn-xs btn-primary" href="/problems/power-of-three/"> (E) Power of Three</a>

    </span>
</div>
