<p></p>
<p>Given a 2d grid map of <code>'1'</code>s (land) and <code>'0'</code>s
    (water), count the number of islands. An island
    is surrounded by water and is formed by connecting adjacent lands
    horizontally or vertically. You may assume all
    four edges of the grid are all surrounded by water.
</p>
<p><i><b>Example
            1:</b></i></p>
<pre>11110<br>11010<br>11000<br>00000</pre>
<p>Answer: 1</p>
<p><i><b>Example
            2:</b></i></p>
<pre>11000<br>11000<br>00100<br>00011</pre>
<p>Answer: 3</p>
<p>
    <b>Credits:</b><br>Special thanks to
    <a href = "https://leetcode.com/discuss/user/mithmatt">@mithmatt</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/depth-first-search/">Depth-first
            Search</a>
        <a class = "btn btn-xs btn-primary" href = "/tag/breadth-first-search/">Breadth-first
            Search</a> <a class = "btn btn-xs btn-primary" href = "/tag/union-find/">Union
            Find</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/surrounded-regions/">
            (M) Surrounded
            Regions</a> <a class = "btn btn-xs btn-primary" href = "/problems/walls-and-gates/">
            (M) Walls and
            Gates</a> <a class = "btn btn-xs btn-primary" href = "/problems/number-of-islands-ii/">
            (H) Number of Islands
            II</a> <a class = "btn btn-xs btn-primary" href = "/problems/number-of-connected-components-in-an-undirected-graph/">
            (M) Number of Connected Components in an Undirected
            Graph</a> </span>
</div>