<p></p>
<p> Given a binary tree and a sum, determine if the tree has a
    root-to-leaf path such that adding up all the values
    along the path equals the given sum.
</p> For example:<br> Given the below binary tree and<code>sum = 22</code>,
<pre>
    5
    / \
    4 8
    / / \
    11 13 4
    / \ \
    7 2 1
</pre>
<p> return true, as there exist a root-to-leaf path
    <code>5-&gt;4-&gt;11-&gt;2</code>
    which sum is 22.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/tree/">Tree</a> <a class = "btn btn-xs btn-primary" href = "/tag/depth-first-search/">Depth-first
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/path-sum-ii/">
            (M) Path Sum
            II</a> <a class = "btn btn-xs btn-primary" href = "/problems/binary-tree-maximum-path-sum/">
            (H) Binary Tree Maximum
            Path
            Sum</a> <a class = "btn btn-xs btn-primary" href = "/problems/sum-root-to-leaf-numbers/">
            (M) Sum Root to
            Leaf Numbers</a> </span>
</div>