<p></p>
<p> You are a product manager and currently leading a team to develop a
    new product. Unfortunately, the latest version
    of your product fails the quality check. Since each version is developed
    based on the previous version, all the
    versions after a bad version are also bad.
</p>
<p> Suppose you have
    <code>n</code> versions <code>[1, 2, ..., n]</code> and you want to find out
    the first bad one,
    which causes all the following ones to be bad.
</p>
<p> You are given an API
    <code>bool isBadVersion(version)</code> which will return whether <code>version</code>
    is bad.
    Implement a function to find the first bad version. You should minimize the
    number of calls to the API.
</p>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://leetcode.com/discuss/user/jianchao.li.fighter">@jianchao.li.fighter</a>
    for adding this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/binary-search/">Binary
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/search-for-a-range/">
            (M) Search for a
            Range</a> <a class = "btn btn-xs btn-primary" href = "/problems/search-insert-position/">
            (M) Search Insert
            Position</a> </span>
</div>