<p></p>
<p>Given a binary tree, find its maximum depth.</p>
<p>The maximum depth
    is the number of nodes along the longest path from the root node down to the
    farthest leaf
    node.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/tree/">Tree</a> <a class = "btn btn-xs btn-primary" href = "/tag/depth-first-search/">Depth-first
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/balanced-binary-tree/">
            (E) Balanced
            Binary
            Tree</a> <a class = "btn btn-xs btn-primary" href = "/problems/minimum-depth-of-binary-tree/">
            (E)
            Minimum Depth of Binary Tree</a> </span>
</div>