<p></p>
<p>Given a singly linked list, determine if it is a palindrome.</p>
<p><b>Follow
        up:</b><br> Could you do it in O(n) time and O(1) space?
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/palindrome-number/">
            (E) Palindrome
            Number</a> <a class = "btn btn-xs btn-primary" href = "/problems/valid-palindrome/">
            (E) Valid
            Palindrome</a> <a class = "btn btn-xs btn-primary" href = "/problems/reverse-linked-list/">
            (E) Reverse Linked List</a>
    </span>
</div>