<p></p>
<p> Given two binary strings, return their sum (also a binary
    string).
</p>
<p> For example,<br> a = <code>"11"</code><br> b =
    <code>"1"</code><br> Return <code>"100"</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/math/">Math</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/add-two-numbers/">
            (M) Add Two
            Numbers</a> <a class = "btn btn-xs btn-primary" href = "/problems/multiply-strings/">
            (M) Multiply Strings</a>
        <a class = "btn btn-xs btn-primary" href = "/problems/plus-one/"> (E)
            Plus One</a> </span>
</div>