<p></p>
<p> You are given a string, <b>s</b>, and a list of words, <b>words</b>,
    that are all of the same length. Find all
    starting indices of substring(s) in <b>s</b> that is a concatenation of each
    word in <b>words</b> exactly once and
    without any intervening characters.
</p>
<p> For example, given:<br> <b>s</b>:
    <code>"barfoothefoobarman"</code><br> <b>words</b>:
    <code>["foo", "bar"]</code>
</p>
<p> You should return the indices: <code>[0,9]</code>.<br> (order does not
    matter).
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/hash-table/">Hash
            Table</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/minimum-window-substring/">
            (H) Minimum
            Window Substring</a> </span>
</div>