<p></p>
<p> Implement a trie with <code>insert</code>, <code>search</code>, and
    <code>startsWith</code> methods.
</p>
<p><b>Note:</b><br> You may assume that
    all inputs are consist of lowercase letters <code>a-z</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/trie/">Trie</a> <a class = "btn btn-xs btn-primary" href = "/tag/design/">Design</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/add-and-search-word-data-structure-design/">
            (M) Add and Search Word -
            Data structure design</a> </span>
</div>