<p></p>
<p> Given a sorted integer array without duplicates, return the summary
    of its ranges.
</p>
<p> For example, given <code>[0,1,2,4,5,7]</code>, return
    <code>["0-&gt;2","4-&gt;5","7"].</code></p>
<p><b>Credits:</b><br>Special
    thanks to <a href = "https://leetcode.com/discuss/user/jianchao.li.fighter">@jianchao.li.fighter</a>
    for adding this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/missing-ranges/">
            (M) Missing Ranges</a>
    </span>
</div>