<p></p>
<p>Remove all elements from a linked list of integers that have value
    <b><i>val</i></b>.
</p>
<p><b>Example</b><br> <i><b>Given:</b></i> 1 --&gt; 2 --&gt; 6 --&gt; 3 --&gt;
    4 --&gt; 5 --&gt; 6, <b><i>val</i></b> =
    6<br> <i><b>Return:</b></i> 1 --&gt; 2 --&gt; 3 --&gt; 4 --&gt; 5
</p>
<p><b>Credits:</b><br>Special
    thanks to
    <a href = "https://leetcode.com/discuss/user/mithmatt">@mithmatt</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/remove-element/">
            (E) Remove Element</a>
        <a class = "btn btn-xs btn-primary" href = "/problems/delete-node-in-a-linked-list/">
            (E) Delete Node in a Linked
            List</a> </span>
</div>