<p></p>
<p> Given two words (<i>beginWord</i> and <i>endWord</i>), and a
    dictionary's word list, find all shortest
    transformation sequence(s) from <i>beginWord</i> to <i>endWord</i>, such
    that:
</p>
<ol>
    <li>Only one letter can be changed at a time</li>
    <li>Each intermediate word must exist in the word list</li>
</ol>
<p> For example,</p>
<p> Given:<br> <i>beginWord</i> =
    <code>"hit"</code><br> <i>endWord</i> = <code>"cog"</code><br>
    <i>wordList</i> =
    <code>["hot","dot","dog","lot","log"]</code><br></p>
<p> Return<br></p>
<pre>
    [
    ["hit","hot","dot","dog","cog"],
    ["hit","hot","lot","log","cog"]
    ]
</pre>
<p></p>
<p><b>Note:</b><br></p>
<ul>
    <li>All words have the same length.</li>
    <li>All words contain only lowercase alphabetic characters.</li>
</ul>
<p></p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/backtracking/">Backtracking</a> <a class = "btn btn-xs btn-primary" href = "/tag/breadth-first-search/">Breadth-first
            Search</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>