<p></p>
<p> All DNA is composed of a series of nucleotides abbreviated as A, C,
    G, and T, for example: "ACGAATTCCG". When
    studying DNA, it is sometimes useful to identify repeated sequences within
    the DNA.
</p>
<p>Write a function to find all the 10-letter-long sequences
    (substrings) that occur more than once in a DNA
    molecule.
</p>
<p> For example,</p>
<pre>
    Given s = "AAAAACCCCCAAAAACCCCCCAAAAAGGGTTT",

    Return:
    ["AAAAACCCCC", "CCCCCAAAAA"].
</pre>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/hash-table/">Hash
            Table</a> <a class = "btn btn-xs btn-primary" href = "/tag/bit-manipulation/">Bit
            Manipulation</a> </span>
</div>