<p></p>
<p> Given a 2D binary matrix filled with 0's and 1's, find the largest
    square containing all 1's and return its
    area.
</p>
<p>For example, given the following matrix:</p>
<pre>
    1 0 1 0 0
    1 0 <font color = "red">1</font> <font color = "red">1</font> 1
    1 1 <font color = "red">1</font> <font color = "red">1</font> 1
    1 0 0 1 0
</pre> Return 4.
<p></p>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://oj.leetcode.com/discuss/user/Freezen">@Freezen</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/dynamic-programming/">Dynamic
            Programming</a>
    </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/maximal-rectangle/">
            (H) Maximal
            Rectangle</a> </span>
</div>