<p>
<p>Write a function that takes a string as input and reverse only the vowels of
    a string.
</p>

<p>
    <b>Example 1:</b><br/>
    Given s = "hello", return "holle".
</p>

<p>
    <b>Example 2:</b><br/>
    Given s = "leetcode", return "leotcede".
</p></p>


<div>
    <div id = "company_tags" class = "btn btn-xs btn-warning">Show Company
        Tags
    </div>
                    <span class = "hidebutton">
                      
                        <a class = "btn btn-xs btn-primary" href = "/company/google/">Google</a>
                      
                    </span>
</div>


<div>
    <div id = "tags" class = "btn btn-xs btn-warning">Show Tags</div>
                  <span class = "hidebutton">
                    
                    <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
                        Pointers</a>
                    
                    <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a>
                    
                  </span>
</div>


<div>
    <div id = "similar" class = "btn btn-xs btn-warning">Show Similar Problems
    </div>
                  <span class = "hidebutton">
                    
                    <a class = "btn btn-xs btn-primary" href = "/problems/reverse-string/">
                        (E) Reverse String</a>
                    
                  </span>
</div>