<p></p>
<p>Reverse a singly linked list.</p>
<p class = "showspoilers">
    <a href = "#" onclick = "showSpoilers(this); return false;">click to show
        more hints.</a></p>
<div class = "spoilers">
    <b>Hint:</b>

    <p>A linked list can be reversed either iteratively or recursively. Could
        you implement both?
    </p>
</div>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/reverse-linked-list-ii/">
            (M) Reverse
            Linked List
            II</a> <a class = "btn btn-xs btn-primary" href = "/problems/binary-tree-upside-down/">
            (M) Binary
            Tree Upside
            Down</a> <a class = "btn btn-xs btn-primary" href = "/problems/palindrome-linked-list/">
            (E)
            Palindrome Linked List</a> </span>
</div>