<p></p>
<blockquote>
    <p><i>Follow up</i> for "Find Minimum in Rotated Sorted Array":<br> What if
        <i>duplicates</i> are allowed?
    </p>

    <p>Would this affect the run-time complexity? How and why?</p>
</blockquote>
<p>Suppose a sorted array is rotated at some pivot unknown to you
    beforehand.
</p>
<p>(i.e., <code>0 1 2 4 5 6 7</code> might become <code>4 5 6 7 0 1 2</code>).
</p>
<p>Find the minimum element.</p>
<p>The array may contain duplicates.</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/binary-search/">Binary
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/find-minimum-in-rotated-sorted-array/">
            (M) Find Minimum in Rotated Sorted Array</a> </span>
</div>