<p></p>
<p> Find the contiguous subarray within an array (containing at least one
    number) which has the largest product.
</p>
<p> For example, given the array
    <code>[2,3,-2,4]</code>,<br> the contiguous subarray <code>[2,3]</code> has
    the largest
    product = <code>6</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/dynamic-programming/">Dynamic
            Programming</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/maximum-subarray/">
            (M) Maximum
            Subarray</a> <a class = "btn btn-xs btn-primary" href = "/problems/house-robber/">
            (E) House
            Robber</a> <a class = "btn btn-xs btn-primary" href = "/problems/product-of-array-except-self/">
            (M) Product of Array
            Except Self</a> </span>
</div>