<p></p>
<p>Given an integer n, count the total number of digit 1 appearing in all
    non-negative integers less than or equal to
    n.
</p>
<p> For example:<br> Given n = 13,<br> Return 6, because digit 1
    occurred in the following numbers: 1, 10, 11, 12, 13.
</p>
<ol id = "hints">
    <li class = "hint">Beware of overflow.</li>
</ol>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/math/">Math</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/factorial-trailing-zeroes/">
            (E)
            Factorial Trailing Zeroes</a> </span>
</div>