<p></p>
<p> Given a binary tree, return all root-to-leaf paths.</p>
<p> For
    example, given the following binary tree:
</p>
<p></p>
<pre>
    1
    / \
    2 3
    \
    5
</pre>
<p></p>
<p> All root-to-leaf paths are:</p>
<pre>["1-&gt;2-&gt;5", "1-&gt;3"]</pre>
<p></p>
<p><b>Credits:</b><br>Special
    thanks to <a href = "https://leetcode.com/discuss/user/jianchao.li.fighter">@jianchao.li.fighter</a>
    for adding this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/tree/">Tree</a> <a class = "btn btn-xs btn-primary" href = "/tag/depth-first-search/">Depth-first
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/path-sum-ii/">
            (M) Path Sum II</a>
    </span>
</div>