<p></p>
<p> Given a string which contains only lowercase letters, remove
    duplicate letters so that every letter appear once and
    only once. You must make sure your result is the smallest in lexicographical
    order among all possible results.
</p>
<p><b>Example:</b><br></p>
<p> Given
    <code>"bcabc"</code><br> Return <code>"abc"</code></p>
<p> Given <code>"cbacdcbc"</code><br>
    Return <code>"acdb"</code></p>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://leetcode.com/discuss/user/dietpepsi">@dietpepsi</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/stack/">Stack</a> <a class = "btn btn-xs btn-primary" href = "/tag/greedy/">Greedy</a> </span>
</div>