<p></p>
<p> Given a 2D board and a word, find if the word exists in the
    grid.
</p>
<p> The word can be constructed from letters of sequentially
    adjacent cell, where "adjacent" cells are those
    horizontally or vertically neighboring. The same letter cell may not be used
    more than once.
</p>
<p> For example,<br> Given <b>board</b> =</p>
<pre>
    [
    ['A','B','C','E'],
    ['S','F','C','S'],
    ['A','D','E','E']
    ]
</pre><b>word</b> =<code>"ABCCED"</code>, -&gt; returns<code>true</code>,<br><b>word</b> =
<code>"SEE"</code>, -&gt; returns<code>true</code>,<br><b>word</b> =
<code>"ABCB"</code>, -&gt; returns<code>false</code>.<br>
<p></p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/backtracking/">Backtracking</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/word-search-ii/">
            (H) Word Search II</a>
    </span>
</div>