<p></p>
<p>Given an array of strings, group anagrams together.</p>
<p>For
    example, given: <code>["eat", "tea", "tan", "ate", "nat", "bat"]</code>,
    <br> Return:
</p>
<pre>
    [
    ["ate", "eat","tea"],
    ["nat","tan"],
    ["bat"]
    ]
</pre>
<p></p>
<p><b>Note:</b><br></p>
<ol>
    <li>For the return value, each <i>inner</i> list's elements must follow the
        lexicographic order.
    </li>
    <li>All inputs will be in lower-case.</li>
</ol>
<p></p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/hash-table/">Hash
            Table</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/valid-anagram/">
            (E) Valid Anagram</a>
        <a class = "btn btn-xs btn-primary" href = "/problems/group-shifted-strings/">
            (E) Group Shifted Strings</a> </span>
</div>