<p></p>
<p>Given a list, rotate the list to the right by <i>k</i> places, where
    <i>k</i> is non-negative.
</p>
<p>For example:<br> Given <code>1-&gt;2-&gt;3-&gt;4-&gt;5-&gt;NULL</code>
    and <i>k</i> = <code>2</code>,<br> return
    <code>4-&gt;5-&gt;1-&gt;2-&gt;3-&gt;NULL</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/rotate-array/">
            (E) Rotate Array</a>
    </span>
</div>