<p></p>
<p> Reverse a linked list from position <i>m</i> to <i>n</i>. Do it
    in-place and in one-pass.
</p>
<p> For example:<br> Given <code>1-&gt;2-&gt;3-&gt;4-&gt;5-&gt;NULL</code>,
    <i>m</i> = 2 and <i>n</i> = 4,
</p>
<p> return <code>1-&gt;4-&gt;3-&gt;2-&gt;5-&gt;NULL</code>.
</p>
<p><b>Note:</b><br> Given <i>m</i>, <i>n</i> satisfy the following
    condition:<br> 1 ≤ <i>m</i> ≤ <i>n</i> ≤ length of
    list.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/reverse-linked-list/">
            (E) Reverse
            Linked List</a> </span>
</div>