<p></p>
<p>Suppose a sorted array is rotated at some pivot unknown to you
    beforehand.
</p>
<p>(i.e., <code>0 1 2 4 5 6 7</code> might become <code>4 5 6 7 0 1 2</code>).
</p>
<p>You are given a target value to search. If found in the array return its
    index, otherwise return -1.
</p>
<p>You may assume no duplicate exists in the
    array.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> <a class = "btn btn-xs btn-primary" href = "/tag/binary-search/">Binary
            Search</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/search-in-rotated-sorted-array-ii/">
            (M)
            Search in Rotated Sorted Array
            II</a> <a class = "btn btn-xs btn-primary" href = "/problems/find-minimum-in-rotated-sorted-array/">
            (M) Find
            Minimum in Rotated Sorted Array</a> </span>
</div>