<p></p>
<p>Given a positive integer, return its corresponding column title as
    appear in an Excel sheet.
</p>
<p>For example:</p>
<pre>
    1 -&gt; A
    2 -&gt; B
    3 -&gt; C
    ...
    26 -&gt; Z
    27 -&gt; AA
    28 -&gt; AB
</pre>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://leetcode.com/discuss/user/ifanchu">@ifanchu</a> for
    adding this
    problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/math/">Math</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/excel-sheet-column-number/">
            (E) Excel
            Sheet Column Number</a> </span>
</div>