<p></p>
<p> Divide two integers without using multiplication, division and mod
    operator.
</p>
<p> If it is overflow, return MAX_INT.</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/math/">Math</a> <a class = "btn btn-xs btn-primary" href = "/tag/binary-search/">Binary
            Search</a> </span>
</div>