<p></p>
<p> Given an unsorted array <code>nums</code>, reorder it such
    that <code>nums[0] &lt; nums[1] &gt; nums[2] &lt;
        nums[3]...</code>.
</p>
<p><b>Example:</b><br> (1) Given <code>nums = [1, 5, 1, 1, 6, 4]</code>,
    one possible answer is <code>[1, 4, 1, 5, 1,
        6]</code>. <br> (2) Given <code>nums = [1, 3, 2, 2, 3, 1]</code>, one
    possible answer is <code>[2, 3, 1, 3, 1,
        2]</code>.
</p>
<p><b>Note:</b><br> You may assume all input has valid
    answer.
</p>
<p><b>Follow Up:</b><br> Can you do it in O(n) time and/or
    in-place with O(1) extra space?
</p>
<p><b>Credits:</b><br>Special thanks to
    <a href = "https://leetcode.com/discuss/user/dietpepsi">@dietpepsi</a> for
    adding
    this problem and creating all test cases.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/sort/">Sort</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/sort-colors/">
            (M) Sort
            Colors</a> <a class = "btn btn-xs btn-primary" href = "/problems/kth-largest-element-in-an-array/">
            (M) Kth Largest
            Element in an
            Array</a> <a class = "btn btn-xs btn-primary" href = "/problems/wiggle-sort/">
            (M) Wiggle Sort</a>
    </span>
</div>