<p></p>
<p>Given a string containing just the characters <code>'('</code>,
    <code>')'</code>,
    <code>'{'</code>, <code>'}'</code>,
    <code>'['</code> and <code>']'</code>, determine if the input string is
    valid.
</p>
<p>The brackets must close in the correct order, <code>"()"</code>
    and <code>"()[]{}"</code> are all valid but <code>"(]"</code>
    and <code>"([)]"</code> are not.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/stack/">Stack</a> <a class = "btn btn-xs btn-primary" href = "/tag/string/">String</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/generate-parentheses/">
            (M) Generate
            Parentheses</a> <a class = "btn btn-xs btn-primary" href = "/problems/longest-valid-parentheses/">
            (H) Longest
            Valid
            Parentheses</a> <a class = "btn btn-xs btn-primary" href = "/problems/remove-invalid-parentheses/">
            (H)
            Remove Invalid Parentheses</a> </span>
</div>