<p></p>
<p>Given a linked list and a value <i>x</i>, partition it such that all
    nodes less than <i>x</i> come before nodes
    greater than or equal to <i>x</i>.
</p>
<p> You should preserve the original
    relative order of the nodes in each of the two partitions.
</p>
<p> For
    example,<br> Given <code>1-&gt;4-&gt;3-&gt;2-&gt;5-&gt;2</code> and <i>x</i>
    = 3,<br> return <code>1-&gt;2-&gt;2-&gt;4-&gt;3-&gt;5</code>.
</p>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/linked-list/">Linked
            List</a> <a class = "btn btn-xs btn-primary" href = "/tag/two-pointers/">Two
            Pointers</a> </span>
</div>