<p></p>
<p>Given an integer array of size <i>n</i>, find all elements that appear
    more than <code>⌊ n/3 ⌋</code> times. The
    algorithm should run in linear time and in O(1) space.
</p>
<ol id = "hints">
    <li class = "hint">How many majority elements could it possibly have?</li>
    <li class = "hint">Do you have a better hint?
        <a href = "mailto:admin@leetcode.com?subject=Hints for Majority Element II" target = "_blank">Suggest
            it</a>!
    </li>
</ol>
<p></p>
<div>
    <p><a href = "/subscribe/">Subscribe</a> to see which companies asked this
        question
    </p>
</div>
<div>
    <div id = "tags" class = "btn btn-xs btn-warning">
        Show Tags
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/tag/array/">Array</a> </span>
</div>
<div>
    <div id = "similar" class = "btn btn-xs btn-warning">
        Show Similar Problems
    </div>
    <span class = "hidebutton"> <a class = "btn btn-xs btn-primary" href = "/problems/majority-element/">
            (E) Majority
            Element</a> </span>
</div>