<p>
    Given a string, find the minimum number of operations
    to convert it into a palindrome.
</p>
<p>
    The operations are described below:
</p>
<ul>
    <li>Add any character at any position</li>
    <li>Remove any character from any position</li>
    <li>Replace any character at any position with another character</li>
</ul>
