<div class = "panel panel-green-sea">
    <div class = "panel-heading">
        <h1 style = "font-size: 20px" class = "panel-title"><b>Solution</b></h1>
    </div>
    <div class = "panel-body">
        <div>
            <h3 class = "panel-title split-para">
                <b>Code</b><span class = "text-info">Language: <strong>Java</strong></span>
            </h3>
        <pre class = "line-numbers language-java">
        <code class = "language-java">
            <%= include('../other-java/java-minimum-edit-distance-to-form-palindrome.java'); %>
        </code>
        </pre>
        </div>
        <div style = "margin-top: 20px">
            <h3 class = "panel-title split-para">
                <b>Explanation</b>
            </h3><%- include('../other-explanations/explanation-minimum-edit-distance-to-form-palindrome.ejs'); %>

        </div>
    </div>
</div>