<header>
    <div class = "container">
        <span class = "bar hide"></span>

        <nav>
            <div class = "nav-control">
                <ul>
                    <li><a href = "/">Spice Mixer Tracker</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>